<h1>よくある質問集</h1>
<% @questions.each do |question| %>
<div>
  質問
<%= question.question %>
<br>
  回答:
<%= question.answer %>
    <% if user_signed_in? %>
    <% if current_user.admin? %>
            (
    <%= link_to "edit" , edit_question_path(question) %>
    <%= link_to "destroy" , question , method: :delete, data: { confirm: '削除してもよろしいですか？' } %>
    )
    <% end %>
    <% end %>
      <br>
      <hr>
<% end %>
</div>


<% if user_signed_in? %>
<% if current_user.admin? %>
    <%= render 'form' %>
<% end %>
<% end %>