<div class="container-fluid">
      <div class="row">
        <div class="col-sm-1" style="background-color:red;">左空白</div>
        <div class="col-sm-10">
          <nav>
            <%= render 'layouts/header' %>
          </nav>
          
          <div class="contentsarea">
            
            
              <% @announces.each do |announces| %>
                
                  <h3><%= announces.title %></h3>
                  <br>
                  <%= announces.body %>
                  <% if current_user.admin? %>  
                  (<%= link_to "edit" , edit_announce_path(announces) %>
                  <%= link_to "destroy" , announce_path(announces) , method: :delete, data: { confirm: '削除してもよろしいですか？' } %>)
                  <% end %>
                  <br>
              <% end %> 
                        
            
          </div>
        </div>
        <div class="col-sm-1" style="background-color:yellow;">右空白</div>
     </div>
</div>



<%= render 'form' %>