<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6">
        <div>
            <span><%= link_to image_tag("slick/Energy Enhancer.jpg", { :border => '0', :alt => 'エナジーエンハンサー'}),  good_energy_enhancer_path %>
                </span>
            <div>
               <h3>Energy Enhancer</h3>
               <p>説明文</p> 
            </div>
        </div>
    </div>
    
    <div class="col-sm-6">
        <div>
            <span><%= link_to image_tag("slick/IceWave.jpg", { :border => '0', :alt => 'アイスウェーブ'}),  good_icewave_path %>
                </span>
            <span>
               <h3>IceWave</h3>
               <p>説明文</p> 
            </span>
        </div>
    </div>
    
  </div>
</div>
    


<div class="container-fluid">
  <div class="row">            
    <div class="col-sm-6">
        <div>
            <span><%= link_to image_tag("slick/Silent Nights.jpg", { :border => '0', :alt => 'サイレントナイト'}),  good_silentnights_path %>
                </span>
            <span>
               <h3>Silent Nights</h3>
               <p>説明文</p> 
            </span>
        </div>
    </div>
        
    <div class="col-sm-6">
        <div>
            <span><%= link_to image_tag("slick/SP6 Complete.jpg", { :border => '0', :alt => 'SP6'}),  good_sp6complete_path %>
                </span>
            <span>
               <h3>SP6 Complete</h3>
               <p>説明文</p> 
            </span>
        </div>
    </div>
    
  </div>
</div>



<div class="container-fluid">
  <div class="row">            
    <div class="col-sm-6">
        <div>
            <span><%= link_to image_tag("slick/Y-Age Aeon.jpg", { :border => '0', :alt => 'イオン'}),  good_y_age_aeon_path %>
                </span>
            <span>
               <h3>Y-Age Aeon</h3>
               <p>説明文</p> 
            </span>
        </div>
    </div>
        
    <div class="col-sm-6">
        <div>
            <span><%= link_to image_tag("slick/Y-Age Carnosine.jpg", { :border => '0', :alt => 'カルノシン'}),  good_y_age_carnosine_path %>
                </span>
            <span>
               <h3>Y-Age Carnosine</h3>
               <p>説明文</p>
            </span>
        </div>
    </div>
    
  </div>
</div>
        
        
        
<div class="container-fluid">
  <div class="row">  
    <div class="col-sm-6">
        <div>
            <span><%= link_to image_tag("slick/Y-Age_Glutathione.jpg", { :border => '0', :alt => 'グルタチオン'}),  good_y_age_glutathione_path %>
                </span>
            <span>
               <h3>Y-Age_Glutathione</h3>
               <p>説明文</p> 
            </span>
        </div>
    </div>
    
    <div class="col-sm-6">
        <div>
            <span><%= link_to image_tag("slick/Aravida.jpg", { :border => '0', :alt => 'アラヴィダ'}),  good_aravida_path %>
            </span>
            <span>
               <h3>アラヴィダ</h3>
               <p>説明文</p> 
            </span>
        </div>
    </div>
    
  </div>
</div>