<!DOCTYPE HTML>
  <html lang="ja">
  <head>
        <meta charset="UTF-8">
        <title>商品一覧</title>
  </head>
    
  <body>
   <header>
       <nav>
         <%= render 'layouts/header' %>
       </nav>
   </header>
   
   <main>
     <div>
       現在絞り込び表示しているタグ:<%=  params[:symptom] %>
     </div>
    
        <% @goods.each do |good| %>
        
          <article class="col-sm-6">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">
                <%= good.goods_name %>
              </h3>
            </div>
          
            <div class="panel-body">
              <span>
                <%= image_tag good.photo if good.photo.present?%>
              </span>
              
              <div>
                <%= simple_format(good.text) %>
              </div>
              
              <div>
                <%= render 'index' , good:  good %>
                <%= render 'form' , good:  good %>
              </div>
            </div>
          </div>
          </article>
        <% end %>
    
   </main>


   <footer>
       
   </footer>

  </body>
</html>