<!DOCTYPE HTML>
  <html lang="ja">
  <head>
        <meta charset="UTF-8">
        <title>商品一覧</title>
  </head>
    
  <body>
   <header>
       <nav>
         <%= render 'layouts/header' %>
       </nav>
   </header>
   
   <main>

     <div class="tag_view">
       現在絞り込び表示しているタグ:<%=  params[:symptom] %>
     </div>
    
        <% @goods.each do |good| %>
          <article class="col-sm-6 allgoodscontainer">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">
                <%= good.goods_name %>
              </h3>
            </div>
          
            <div class="panel-body">
              <div>
                <div class="allgoodsphoto">
                  <%= (image_tag good.photo, :size => '300x300') if good.photo.present?%>
                </div>
              </div>
              <div>
                <%= render 'index' , good:  good %>
                <% if user_signed_in? %>
                    <% if current_user.admin? %> 
                      <%= render 'form' , good:  good %>
                    <% end %>
                <% end %>
              </div>
              <div>
                <%= simple_format(good.text) %>
              </div>
             
                <div class="blue_large_btn center-block">
                  <%= link_to "商品詳細", good.page , { :class => "blue_large_btn btn btn-info btn-lg" }  %>
                </div>
              
            </div>
          </div>
          </article>
        <% end %>
    
   </main>


   <footer>
       
   </footer>

  </body>
</html>