<%= @good.goods_name %>の紹介
<div><%= image_tag "slick/Y-Age_Glutathione.jpg" %></div>

<div>説明文</div>

<div>効く症状</div>


<a href="/good_use/use_y_age_glutathione">使い方</a>

    
<div>レビューを投稿：
    <%= render 'shared/review_form' %>
    
    <div>
    　<% if @good.reviews.any? %>
    　　<h3>goods (<%= @good.reviews.count %>)</h3>
          <ol class="microposts">
            
            <%= render @good.reviews %>
    
          </ol>
    　<% end %>
    </div>
</div>