<div class="container-fluid">
      <div class="row">
        <div class="col-sm-1" style="background-color:red;">左空白</div>
        <div class="col-sm-10">
          <nav>
            <%= render 'layouts/header' %>
          </nav>
          
          <div class="contentsarea">
            
            
           <% @news_sends.each do |news_sends| %>

                
              <h3><%= news_sends.news_title %></h3>
              <br>
                
              <%= news_sends.news_body %>
              <br>
              　開催地：
              <%= news_sends.news_point %>
              <%= image_tag(news_sends.photo.url) %>
              
                <br>
                <% if current_user.admin? %>  
                  (<%= link_to "edit" , edit_newss_path(news_sends) %>
                  <%= link_to "destroy" , newss_path(news_sends) , method: :delete, data: { confirm: '削除してもよろしいですか？' } %>)
                  <% end %>
           <% end %> 
                        
            
          </div>
        </div>
        <div class="col-sm-1" style="background-color:yellow;">右空白</div>
      </div>
    </div>
    
    
    てすと
    
<footer style="background-color:gray">Footer</footer>  

<%= render 'form' %>