<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="radio">
          <label>
            <input type="radio" name="post[towhom]" value="1">
            メールマガジン受信希望者にのみ送信する
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="post[towhom]" value="0">
            全ユーザーに送信する
          </label>
        </div>

  <div class="field">
    <%= f.label :メールの件名 %><br>
    <%= f.text_field :subject %>
  </div>
  <div class="field">
    <%= f.label :見出し %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :本文の内容 %><br>
    <%= f.text_area :content %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
