<!DOCTYPE html>
<html> 
 <head>
  <title>LifeWaveレビュー</title>
    <link rel="stylesheet" href="//blueimp.github.io/Gallery/css/blueimp-gallery.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= csrf_meta_tags %>
  
    
    
 </head>
 <body>
  
  <header>
  <nav>
    <!-- user_signed_in? はユーザがログインしているか調べるdeviseのHelperメソッド -->
    <% if user_signed_in? %> 
      <!-- current_user は現在ログインしているUserオブジェクトを返すdeviseのHelperメソッド -->
      <!-- *_path はUserモデルを作成したときに、
        deviseにより自動で作成されてますので、rake routesで確認できます -->
      Logged in as <strong><%= current_user.email %></strong>.
       <ul class="breadcrumb"> 
        <li class="active">ユーザー情報の変更はこちら　</li>
        <%= link_to 'プロフィール変更', edit_user_registration_path %> |
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
      </ul>
      <% else %>
       <ul class="breadcrumb">
        <li class="active">ユーザー登録はお済みですか？　</li>
        <%= link_to "新規登録", new_user_registration_path %> |
        <%= link_to "ログイン", new_user_session_path %>
       </ul>
      <% end %>
    
  </nav>
</header>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  
  


  <%= yield %>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="//blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
 </body> 
</html>